<h3 class="page-header">Alterar Cliente</h3>
<br>
<div class = "row">
	<div class="form-group col-md-1">
		<label for="campo1">ID</label>
		<input type="text" class= "form-control" placeholder="ID" ng-model="clienteDetalhe.idCliente" style="width: 50px" disabled>
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">Razão social</label>
		<input type="text"  class= "form-control"  placeholder="Razão social" ng-model="clienteDetalhe.nmCliente">
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">CNPJ</label>
		<input type="text"  class= "form-control"  placeholder="CNPJ" ng-model="clienteDetalhe.cnpjCliente">
	</div>
	<div class="form-group col-md-3">
			<label for="campo1">E-mail</label>
			<input type="text" class= "form-control" placeholder="E-mail" ng-model="clienteDetalhe.emailCliente">
		</div>
	<div class="form-group col-md-2">
		<label for="campo1">Data cadastro</label>
		<input type="text"  class= "form-control"  placeholder="Data cadastro" ng-model="clienteDetalhe.dtCadCliente" disabled>
	</div>
		
		<div class="form-group col-md-2">
			<label for="campo1">Telefone 1</label>
			<input type="text" class= "form-control" placeholder="Telefone" ng-model="clienteDetalhe.telCliente1" >
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Telefone 2</label>
			<input type="text" class= "form-control" placeholder="Telefone" ng-model="clienteDetalhe.telCliente2">
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Complementos</label>
			<input type="text" class= "form-control" placeholder="Complementos" ng-model="clienteDetalhe.compCliente">
		</div>
	
		<div class="form-group col-md-2">
			<label for="campo1">Cep</label>
			<input type="text" class= "form-control" placeholder="Cep" ng-model="clienteDetalhe.cepCliente">
		</div>
		<div class="form-group col-md-3">
			<label for="campo1">Endereço</label>
			<input type="text" class= "form-control" placeholder="Endereço" ng-model="clienteDetalhe.endCliente" >
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Bairro</label>
			<input type="text" class= "form-control" placeholder="Bairro" ng-model="clienteDetalhe.bairroCliente">
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Cidade</label>
			<input type="text" class= "form-control" placeholder="Cidade" ng-model="clienteDetalhe.cidadeCliente">
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Estado</label>
			<input type="text" class= "form-control" placeholder="Estado" ng-model="clienteDetalhe.estadoCliente">
		</div>
	
<form> 
  <hr /> 
	<div id="actions" class="row" style="margin-bottom:12px">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="updateCliente()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>