<meta charset="utf-8">



<div class="row" ng-init= "listarStatus()">
<div class = "row col-md-12">
	<div class="col-md-4" id = "box1">
		<div class= "col-md-12">
			<p style= "color:white; font-size: 20px">Faturas Recebidas </p>
			<hr  style= "margin-top: -7px; margin-bottom: 0px">
		</div>
		
		<div class= "col-md-6">
			<span type= "text" class= "glyphicon glyphicon-ok-circle" align= "left" style = "font-size: 60px; margin-top: 20px;"></span>
		</div>
		
		<div class= "col-md-6">
		<p align= "center" style = "font-size: 70px">{{contaReceber.Pago}}</p>
		</div>
		
	</div>	
	
	
	<div class="col-md-4" id = "box2">
		<div class= "col-md-12">
			<p style= "color:white; font-size: 20px">Faturas Pendentes </p>
			<hr  style= "margin-top: -7px; margin-bottom: 0px">
		</div>
		
		<div class= "col-md-6">
			<span type= "text" class= "glyphicon glyphicon-time" align= "left" style = "font-size: 60px; margin-top: 20px;"></span>
		</div>
		
		<div class= "col-md-6">
		<p align= "center" style = "font-size: 70px">{{contaReceber.Pendente}}</p>
		</div>
		
	</div>		

	
	<div class="col-md-4" id = "box3">
		<div class= "col-md-12">
			<p style= "color:white; font-size: 20px">Faturas Atrasadas </p>
			<hr  style= "margin-top: -7px; margin-bottom: 0px">
		</div>
		
		<div class= "col-md-6">
			<span type= "text" class= "glyphicon glyphicon-ban-circle" align= "left" style = "font-size: 60px; margin-top: 20px;"></span>
		</div>
		
		<div class= "col-md-6">
		<p align= "center" style = "font-size: 70px">{{contaReceber.Atrasado}}</p>
		</div>
		
	</div>		
	</div>
	</div>
	<div>
	
	<div class="row" id = "caixa1">
		<div class="col-md-12">
			<div class= "col-md-12">
			<p style= "color:white; font-size: 20px">Faturas Atrasadas </p>
			<hr  style= "margin-top: -7px; margin-bottom: 0px">
		</div>
		
		<div class= "col-md-6">
			<span type= "text" class= "glyphicon glyphicon-ban-circle" align= "left" style = "font-size: 60px; margin-top: 20px;"></span>
		</div>
		
		<div class= "col-md-6">
		<p align= "center" style = "font-size: 70px">{{contaReceber.Atrasado}}</p>
		</div>
	
	</div>
	
</div>




</div>

