<h3 class="page-header">Alterar conta a pagar</h3>
<br>
<div class = "row">
	<div class="form-group col-md-1">
		<label for="campo1">ID</label>
		<input type="text" class= "form-control" placeholder="ID" ng-model="contaPagarDetalhe.idContaPagar" style="width: 50px" disabled>
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">Descrição</label>
		<input type="text" class= "form-control" placeholder="Descrição" ng-model="contaPagarDetalhe.descContaPagar">
	</div>
	<div class="form-group col-md-2">
		<label for="campo1">Complemento</label>
		<input type="text" class= "form-control" placeholder="Complemento" ng-model="contaPagarDetalhe.complemento">
	</div>
	<div class="form-group col-md-1">
		<label for="campo1">Valor</label>
		<input type="text"  class= "form-control"  placeholder="Valor" ng-model="contaPagarDetalhe.valorContaPagar">
	</div>
	<div class="form-group col-md-2">
		<label for="campo1">Data de Vencimento</label>
		<input type="date" data-mask="00/00/0000" class= "form-control"  placeholder="Data" ng-model="contaPagarDetalhe.dataVencimento">
	</div>
	<div class="form-group col-md-2">
		<label for="campo1">Situação da fatura</label>
		<select class= "form-control"  ng-model="contaPagarDetalhe.statusContaPagar" id= "contaPagarDetalhe.statusContaPagar">
			<option value= "Pendente">Pendente</option>
			<option value = "Atrasado">Atrasado</option>
			<option value = "Pago">Pago</option>			
		</select>
	</div>



	
	
<form> 
  <hr /> 
	<div id="actions" class="row" style="margin-bottom:12px">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="updateContaPagar()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>