<h3 class="page-header">Adicionar no Estoque</h3>
<br>
<div class = "row">
	<div class="form-group col-md-1">
		<label for="campo1">ID</label>
		<input type="text" class= "form-control" placeholder="ID" ng-model="estoque.idEstoque" style="width: 50px" disabled>
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">ID do Produto</label>
		<input type="text"  class= "form-control"  placeholder="ID do Produto" ng-model="estoque.produtoFornecedor.idProdForn" ng-blur = "listarNomeProduto(estoque.produtoFornecedor.idProdForn)">
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">Nome do produto</label>
		<input type="text" class= "form-control" placeholder="Produto" ng-model="estoque.produtoFornecedor.nmProdForn" disabled>
	</div>
	<div class="form-group col-md-1">
		<label for="campo1">Quantidade</label>
		<input type="text"  class= "form-control"  placeholder="Quantidade" ng-model="estoque.qtdEstoque">
	</div>

	<div class="form-group col-md-3">
		<label for="campo1">Unidade Medida</label>
		<input type="text"  class= "form-control"  placeholder="Unidade de Medida" ng-model="estoque.produtoFornecedor.undMedidaProdForn" disabled>
	</div>
	
	
<form> 
  <hr /> 
	<div id="actions" class="row">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="salvarEstoque()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>