<h3 class="page-header">Adicionar fornecedor</h3>
<br>
<div class = "row">
	<div class="form-group col-md-1">
		<label for="campo1">ID</label>
		<input type="text" class= "form-control" placeholder="ID" ng-model="fornecedor.idFornecedor" style="width: 50px" disabled>
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">Razão social</label>
		<input type="text"  class= "form-control"  placeholder="Razão social" ng-model="fornecedor.nmFornecedor">
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">CNPJ</label>
		<input type="text"  class= "form-control"  placeholder="CNPJ" ng-model="fornecedor.cnpjFornecedor">
	</div>
	<div class="form-group col-md-3">
			<label for="campo1">E-mail</label>
			<input type="text" class= "form-control" placeholder="E-mail" ng-model="fornecedor.emailFornecedor">
		</div>
	<div class="form-group col-md-2">
		<label for="campo1">Data cadastro</label>
		<input type="text"  class= "form-control"  placeholder="Data cadastro" ng-model="fornecedor.dtCadFornecedor" disabled>
	</div>
		
		<div class="form-group col-md-2">
			<label for="campo1">Telefone 1</label>
			<input type="text" class= "form-control" placeholder="Telefone" ng-model="fornecedor.telFornecedor" >
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Telefone 2</label>
			<input type="text" class= "form-control" placeholder="Telefone" ng-model="fornecedor.tel2Fornecedor">
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Complementos</label>
			<input type="text" class= "form-control" placeholder="Complementos" ng-model="fornecedor.compFornecedor">
		</div>
	
		<div class="form-group col-md-2">
			<label for="campo1">Cep</label>
			<input type="text" class= "form-control" placeholder="Cep" ng-model="fornecedor.cepFornecedor">
		</div>
		<div class="form-group col-md-3">
			<label for="campo1">Endereço</label>
			<input type="text" class= "form-control" placeholder="Endereço" ng-model="fornecedor.endFornecedor" >
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Bairro</label>
			<input type="text" class= "form-control" placeholder="Bairro" ng-model="fornecedor.bairroFornecedor">
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Cidade</label>
			<input type="text" class= "form-control" placeholder="Cidade" ng-model="fornecedor.cidadeFornecedor">
		</div>
		<div class="form-group col-md-2">
			<label for="campo1">Estado</label>
			<input type="text" class= "form-control" placeholder="Estado" ng-model="fornecedor.estadoFornecedor">
		</div>
	
<form> 
  <hr /> 
	<div id="actions" class="row" style="margin-bottom:12px">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="salvarFornecedor()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>