<h3 class="page-header">Adicionar Orcameto</h3>
<br>
<div class = "row">
	<div class="form-group col-md-1">
		<label for="campo1">ID</label>
		<input type="text" class= "form-control" placeholder="ID"  ng-model="orcamento.idOrcamento" style="width: 50px" disabled>
	</div>
	<div class="form-group col-md-3">
		<label for="campo2">Cor</label>
		<input type="text"  class= "form-control"  placeholder="Cor" ng-change="calculaTotal()" ng-model="orcamento.corOrcamento.idCor">
	</div>
	<div class="form-group col-md-3">
		<label for="campo3">Material</label>
		<input type="text"  class= "form-control"  placeholder="Material" ng-change="calculaTotal()" ng-model="orcamento.materialOrcamento.idMaterial">
	</div>
	
	<div class="form-group col-md-3">
		<label for="campo4">Estampa</label>
		<input type="text"  class= "form-control"  placeholder="Estampa" ng-change="calculaTotal()" ng-model="orcamento.estampaOrcamento.idEstampa">
	</div>
	
	<div class="form-group col-md-3">
		<label for="campo4">Quantidade</label>
		<input type="text"  class= "form-control"  placeholder="Quantidade" ng-change="calculaTotal()" ng-model="orcamento.quantidade">
	</div>
	
	
	<div class="form-group col-md-3">
		<label for="campo4">Valor Base</label>
		<input type="text"  class= "form-control"  placeholder="ValorBase" ng-change="calculaTotal()" ng-model="orcamento.valorBase">
	</div>

	<div class="form-group col-md-3">
		<label for="campo4">Valor Total</label>
		<input type="text"  class= "form-control"  placeholder="ValorTotal"  ng-model="orcamento.valorOrcamento" disabled>
	</div>	
	
<form> 
  <hr /> 
	<div id="actions" class="row" style="margin-bottom:12px">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="salvarOrcamento()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>