<meta charset="utf-8">
<h3 class="page-header">Alterar Orçamento</h3>
<br>
<div class = "row">
<div class="form-group col-md-1">
		<label for="campo1">ID</label>
		<input type="text" class= "form-control" placeholder="ID"  ng-model="orcamentoDetalhe.idOrcamento" style="width: 50px" readonly>
	</div>
	<div class="form-group col-md-2">
		<label for="campo2">ID Cor</label>
		<input type="number"  class= "form-control"  placeholder="ID Cor" ng-change="calculaTotal()" ng-model="orcamentoDetalhe.corOrcamento.idCor">
	</div>
	
	<div class="form-group col-md-3">
		<label for="campo2">Cor</label>
		<input type="text"  class= "form-control"  placeholder="Cor" ng-change="calculaTotal()" ng-model="orcamentoDetalhe.corOrcamento.nmCor" readonly>
	</div>
	
	<div class="form-group col-md-3">
		<label for="campo3">ID Material</label>
		<input type="number"  class= "form-control"  placeholder="ID Material" ng-change="calculaTotal()" ng-model="orcamentoDetalhe.materialOrcamento.idMaterial">
	</div>
	
	<div class="form-group col-md-3">
		<label for="campo3">Material</label>
		<input type="text"  class= "form-control"  placeholder="Material" ng-change="calculaTotal()" ng-model="orcamentoDetalhe.materialOrcamento.nmMaterial" readonly>
	</div>
	
	
	<div class="form-group col-md-2">
		<label for="campo4">ID Estampa</label>
		<input type="number"  class= "form-control"  placeholder="ID Estampa" ng-change="calculaTotal()" ng-model="orcamentoDetalhe.estampaOrcamento.idEstampa">
	</div>
	
		
	<div class="form-group col-md-3">
		<label for="campo4">Estampa</label>
		<input type="text"  class= "form-control"  placeholder="Estampa" ng-change="calculaTotal()" ng-model="orcamentoDetalhe.estampaOrcamento.codEstampa" readonly>
	</div>
	
	
	
	<div class="form-group col-md-2">
		<label for="campo4">Quantidade</label>
		<input type="number"  class= "form-control"  placeholder="Quantidade" ng-change="calculaTotal()" ng-model="orcamentoDetalhe.quantidade">
	</div>
	
	
	<div class="form-group col-md-2">
		<label for="campo4">Valor Base</label>
		<input type="number"  class= "form-control" value="30.00" placeholder="30.00" ng-change="" ng-model="orcamentoDetalhe.valorBase" readonly>
	</div>

	<div class="form-group col-md-3">
		<label for="campo4">Valor Total</label>
		<input type="number"  class= "form-control"  ng-model="orcamentoDetalhe.valorOrcamento"  placeholder="Total" readonly>
	</div>	
<form> 
  <hr /> 
	<div id="actions" class="row" style="margin-bottom:12px">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="updateOrcamento()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>