
<div id="top" class="row">
 <div class="col-md-3">
        <h2>Lista Orcamentos</h2>
    </div>
 
    <div class="col-md-6">
        <div class="input-group h2">
            <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" ng-click="listarOrcamentos()">                
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
       
    </div>
 	 <div class="col-md-3">
        <a href="orcamento-cad"  class="btn btn-primary pull-right h2">Novo Orcamento</a>
    </div>
    
</div>




</br>
</br>
<div id="list" class="row">
    <div class="table-responsive col-md-12">
     
        <table class="table col-md-12">
            <thead>
				<tr>
					<th class="col-md-1" >ID</th>
					<th class="col-md-2">Cor</th>
					<th class="col-md-2">Material</th>
					<th class="col-md-2">Estampa</th>
					<th class="col-md-2">Valor Base</th>
					<th class="col-md-2">Valor Total</th>
				</tr>
			</thead>   
    	<tbody>
    
		<tr ng-repeat="orcamento in listaOrcamento">
		
		<td >{{orcamento.idOrcamento}}</td>
		<td >{{orcamento.corOrcamento.idCor}}</td>
		<td >{{orcamento.materialOrcamento.idMaterial}}</td>
		<td >{{orcamento.estampaOrcamento.idEstampa}}</td>
		<td >{{orcamento.valorBase}}</td>
		<td >{{orcamento.valorOrcamento}}</td>
		
		<td class="actions">
		  <a class="btn btn-danger btn-xs"  type="button" ng-click = "procuraOrcamento(orcamento)" data-toggle="modal" data-target="#delete-modal">Excluir</a>
		<a class="btn btn-warning btn-xs" type="button" href = "orcamento-edit/{{orcamento.idOrcamento}}">Alterar</a>
		<a class="btn btn-success btn-xs" href="orcamento/{{orcamento.idOrcamento}}">Detalhe</a>		
		</td>		
				
	</tr>
	
	
	</tbody>
	
</table>
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
		aria-labelledby="modalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="modalLabel">Excluir Item</h4>
				</div>
				<div class="modal-body">Deseja realmente excluir este item?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="deleteCor(idCor)" data-dismiss = "modal">Sim</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
