<meta charset="utf-8">

<h3 class="page-header">Visualizar Ordem de Valor Servi&ccedil;o
	#{{ordemServicoDetalhe.idOrdem}}</h3>
<br>
<div class="row">	
		<div class="form-group col-md-1">
			<p>
				<strong>ID</strong>
			</p>
			<p>{{ordemServicoDetalhe.idOrdem}}</p>
		</div>
		<div class="form-group col-md-2">
			<p>
				<strong>ID Fornecedor</strong>
			</p>
			<p>{{ordemServicoDetalhe.fornecedor.idFornecedor}}</p>

		</div>
		<div class="form-group col-md-3">
			<p>
				<strong>Fornecedor</strong>
			</p>
			<p>{{ordemServicoDetalhe.fornecedor.nmFornecedor}}</p>

		</div>
		<div class="form-group col-md-2">
			<p>
				<strong>ID Valor Servi&ccedil;o</strong>
			</p>
			<p>{{ordemServicoDetalhe.servicoFornecedor.idServForn}}</p>

		</div>
		<div class="form-group col-md-2">
			<p>
				<strong>Servi&ccedil;o</strong>
			</p>
			<p>{{ordemServicoDetalhe.servicoFornecedor.nmServForn}}</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="form-group col-md-2">
			<p>
				<strong>Quantidade</strong>
			</p>
			<p>{{ordemServicoDetalhe.qtdServico}}
				({{ordemServicoDetalhe.servicoFornecedor.undMedidaServForn}})</p>

		</div>
		<div class="form-group col-md-2">
			<p>
				<strong>Valor Servi&ccedil;o</strong>
			</p>
			<p>R${{ordemServicoDetalhe.servicoFornecedor.valorServForn | number: 2}}</p>
		</div>
		<div class="form-group col-md-2">
			<p>
				<strong>Valor Total</strong>
			</p>
			<p>R${{ordemServicoDetalhe.valorTotalOrdemServico | number: 2}}</p>
		</div>

		<div class="form-group col-md-2">
			<p>
				<strong>Data de Emiss&atilde;o</strong>
			</p>
			<p>{{ordemServicoDetalhe.dataAberturaOrdemServico | date: 'dd/MM/yyyy'}}</p>
		</div>
		<div class="form-group col-md-2">
			<p>
				<strong>Data de Entrega</strong>
			</p>
			<p>{{ordemServicoDetalhe.dataEntregaOrdemServico | date: 'dd/MM/yyyy'}}</p>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-2">
			<p>
				<strong>Status</strong>
			</p>
			<p>{{ordemServicoDetalhe.statusOrdem}}</p>
		</div>
	
</div>




<div id="actions" class="row" style="margin-top: 15px">
	<div class="col-md-12" style="margin-top: 15px">
		<a class="btn btn-warning " type="button" value=" edit "
			href="ordem-servico-editar/{{ordemServicoDetalhe.idOrdem}}">Alterar</a>
		<a class="btn btn-default " type="button" onClick="history.go(-1)">Voltar</a>

	</div>
</div>