<h3 class="page-header">Alterar Ordem de Servi&ccedil;o</h3>
<br>
<hr><hr>
<div class = "row">
	<div class="form-group col-md-1">
		<label for="campo1">ID</label>
		<input type="text" class= "form-control" placeholder="ID" ng-model="ordemServicoDetalhe.idOrdem" style="width: 50px" readonly>
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">ID do Fornecedor</label>
		<input type="text"  class= "form-control"  placeholder="ID do Fornecedor" ng-model="ordemServicoDetalhe.fornecedor.idFornecedor" ng-blur="listarFornecedor(ordemServicoDetalhe.fornecedor.idFornecedor)">
	</div>
    <div class="form-group col-md-3">
		<label for="campo1">Fornecedor</label>
		<input type="text"  class= "form-control"  placeholder="Nome do Fornecedor" ng-model="ordemServicoDetalhe.fornecedor.nmFornecedor" readonly>
	</div>
    <div class="form-group col-md-3">
		<label for="campo1">ID do Servi&ccedil;o</label>
		<input type="text"  class= "form-control"  placeholder="ID do Servi&ccedil;o" ng-model="ordemServicoDetalhe.servicoFornecedor.idServForn" ng-blur="listarServicoFornecedor(ordemServicoDetalhe.servicoFornecedor.idServForn)">
	</div>
    <div class="form-group col-md-3">
		<label for="campo1">Descri&ccedil;&atilde;o Servi&ccedil;o</label>
		<input type="text"  class= "form-control"  placeholder="Descri&ccedil;o servi&ccedil;o" ng-model="ordemServicoDetalhe.servicoFornecedor.nmServForn" readonly>
    </div>
    <div class="form-group col-md-2">
		<label for="campo1">Quantidade</label> <input type="text"
			class="form-control" placeholder="Quantidade"
			ng-model="ordemServicoDetalhe.qtdServico"
			ng-change="calculoTotal()">
    </div>
    <div class="form-group col-md-3">
		<label for="campo1">Valor Servi&ccedil;o</label>
		<input type="number"  class= "form-control"  placeholder="Valor servi&ccedil;o" ng-model="ordemServicoDetalhe.servicoFornecedor.valorServForn" readonly>
    </div>
    <div class="form-group col-md-3">
		<label for="campo1">Valor Total</label>
		<input type="number"  class= "form-control"  placeholder="Valor total" ng-model="ordemServicoDetalhe.valorTotalOrdemServico" readonly>
    </div>
    <div class="form-group col-md-3">
		<label for="campo1">Data cria&ccedil;o</label>
		<input type="date"  class= "form-control"  placeholder="Data cria&ccedil;o" ng-model="ordemServicoDetalhe.dataAberturaOrdemServico" readonly>
    </div>
    <div class="form-group col-md-2">
		<label for="campo1">Data de Entrega</label> <input type="date"
			ng-model="ordemServicoDetalhe.dataEntregaOrdemServico" 
			class="form-control" name="data" id="data" />
	</div>
	<div class="form-group col-md-2">
		<label for="campo1">Status</label> <select class="form-control"
			ng-model="ordemServicoDetalhe.statusOrdem"
			id="ordemServicoDetalhe.statusOrdem">
			<option value="Aberto">Aberto</option>
			<option value="Fechado">Fechado</option>
			<option value="Pendente">Pendente</option>
		</select>
	</div>







<form> 
  <hr /> 
	<div id="actions" class="row" style="margin-bottom:12px">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="updateOrdemServico()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>