<meta charset="utf-8">

<h3 class="page-header">Adicionar Produto</h3>
<br>
	<div class="row">
	
		<div class="form-group col-md-1">
			<label for="campo1">ID</label>
			<input type="text" class= "form-control" placeholder="ID" ng-model="produto.idProduto" style="width: 50px" disabled>
		</div>
	
	<div class="form-group col-md-3">
		<label for="campo2">Descrição do produto</label>
		<input type="text" class= "form-control" placeholder="descProduto" ng-model="produto.descProduto" >
	</div>
 
 	<div class="form-group col-md-1">
 		<label for="campo3">Id Cor</label>
 		<input type="number" class= "form-control" placeholder="idCor" ng-model="produto.corProduto.idCor" ng-change="calculaTotal()">
 	</div> 	
 		<div class="form-group col-md-2">
 		<label for="campo3">Cor</label>
 		<input type="text" class= "form-control" placeholder="Cor" ng-model="listaCor.nmCor" disabled>
 	</div> 	
 	
 	<div class="form-group col-md-2">
 		<label for="campo4">Id Material</label>
 		<input type="number" class= "form-control" placeholder="idMaterial" ng-model="produto.materialProduto.idMaterial" ng-change="calculaTotal()">
 	</div> 	
 	
 	<div class="form-group col-md-2">
 		<label for="campo4">Material</label>
 		<input type="text" class= "form-control" placeholder="Material" ng-model="listaMaterial.nmMaterial" disabled>
 	</div> 	
 	
 	<div class="form-group col-md-2">
 		<label for="campo5">Id Estampa</label>
 		<input type="number" class= "form-control" placeholder="idEstampa" ng-model="produto.estampaProduto.idEstampa" ng-change="calculaTotal()">
 	</div> 	
 	<div class="form-group col-md-2">
 		<label for="campo5">Estampa</label>
 		<input type="text" class= "form-control" placeholder="Estampa" ng-model="listaEstampa.codEstampa" disabled>
 	</div> 	
 	
 	<div class="form-group col-md-2">
 		<label for="campo6">Valor</label>
 		<input type="number" class= "form-control" placeholder="Valor" ng-model="produto.valorProduto">
 	</div> 	
 	
 	
 	
 	<div>
<form> 
  <hr /> 
	<div id="actions" class="row" style="margin-bottom:12px">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="salvarProduto()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>
</div>
