<h3 class="page-header">Alterar Produto</h3>
<br>
<div class = "row">
		<div class="form-group col-md-1">
			<label for="campo1">ID</label>
			<input type="text" class= "form-control" placeholder="ID" ng-model="produtoDetalhe.idProduto" style="width: 50px" readonly>
		</div>
	
	<div class="form-group col-md-2">
		<label for="campo2">Descri&ccedil;&atilde;o do produto</label>
		<input type="text" class= "form-control" placeholder="Descrição" ng-model="produtoDetalhe.descProduto"  >
	</div>
 
 	<div class="form-group col-md-2">
 		<label for="campo3">Id Cor</label>
 		<input type="text" class= "form-control" placeholder="ID Cor" ng-change="calculaTotal()" ng-model="produtoDetalhe.corProduto.idCor"  >
 	</div> 	
 	
	<div class="form-group col-md-2">
 		<label for="campo3">Cor</label>
 		<input type="text" class= "form-control" placeholder="Cor" ng-model="listaCor.nmCor"  readonly>
 	</div> 	
 	
 	
 	<div class="form-group col-md-2">
 		<label for="campo4">Id Material</label>
 		<input type="text" class= "form-control" placeholder="ID Material" 
 		ng-change="calculaTotal()" ng-model="produtoDetalhe.materialProduto.idMaterial"  >
 	</div> 	
 	
 	 	<div class="form-group col-md-2">
 		<label for="campo4">Material</label>
 		<input type="text" class= "form-control" placeholder="Material" ng-model="listaMaterial.nmMaterial" readonly >
 	</div> 	
 	
 	<div class="form-group col-md-2">
 		<label for="campo5">Id Estampa</label>
 		<input type="text" class= "form-control" placeholder="ID Estampa" ng-change="calculaTotal()" ng-model="produtoDetalhe.estampaProduto.idEstampa"  >
 	</div> 	
 	
 	 <div class="form-group col-md-2">
 		<label for="campo5">Estampa</label>
 		<input type="text" class= "form-control" placeholder="Estampa" ng-model="listaEstampa.codEstampa"  readonly>
 	</div> 	
 	
 	<div class="form-group col-md-2">
 		<label for="campo6">Valor</label>
 		<input type="text" class= "form-control" placeholder="Valor" ng-model="produtoDetalhe.valorProduto"  >
 	</div> 	
 	
 	<form> 
  <hr /> 
	<div id="actions" class="row" style="margin-bottom:12px">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="updateProduto()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>
