<h3 class="page-header">Alterar Serviço</h3>
<br>
<div class = "row">
	<div class="form-group col-md-1">
		<label for="campo1">ID</label>
		<input type="text" class= "form-control" placeholder="ID" ng-model="servicoFornecedorDetalhe.idServForn" style="width: 50px" readonly>
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">Nome</label>
		<input type="text"  class= "form-control"  placeholder="Nome" ng-model="servicoFornecedorDetalhe.nmServForn">
	</div>
	<div class="form-group col-md-3">
		<label for="campo1">Descrição</label>
		<input type="text"  class= "form-control"  placeholder="Descrição" ng-model="servicoFornecedorDetalhe.descServForn">
	</div>
	<div class="form-group col-md-3">
			<label for="campo1">Unidade medida</label>
			<input type="text" class= "form-control" placeholder="Unidade medida" ng-model="servicoFornecedorDetalhe.undMedidaServForn">
		</div>
	<div class="form-group col-md-2">
		<label for="campo1">Valor</label>
		<input type="text"  class= "form-control"  placeholder="Valor" ng-model="servicoFornecedorDetalhe.valorServForn">
	</div>
		
		<div class="form-group col-md-2">
			<label for="campo1">Id fornecedor</label>
			<input type="text" class= "form-control" placeholder="Id fornecedor" ng-model="servicoFornecedorDetalhe.fornecedor.idFornecedor" readonly>
		</div>
	
<form> 
  <hr /> 
	<div id="actions" class="row" style="margin-bottom:12px">
  	  <div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-click="updateServicoFornecedor()" style="margin-left:12px">Salvar</button>
		<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
    	</div>
    </div>
 </form>
</div>