<meta charset="utf-8">


<h3 class="page-header">Visualizar Venda #{{vendapedido.venda.idVenda}}</h3>
<br>
<div class="row">
	<div class="form-group col-md-1">
		<p><strong>ID Venda</strong></p>	
		<p>{{vendapedido.venda.idVenda}}</p>
	</div>
	<div class="form-group col-md-2">
		<p><strong>Nome cliente</strong></p>
			<p>{{pedido.cliente.nmCliente}}</p>
	
	</div>
	<div class="form-group col-md-2">
		<p><strong>Valor total</strong></p>
			<p>{{vendapedido.venda.valorTotal}}</p>
	</div>
	<div class="form-group col-md-2">
			<p><strong>Data Venda</strong></p>
				<p>{{vendapedido.venda.dataVenda}}</p>
	
	</div>
	<div class="form-group col-md-2">
			<p><strong>Data Entrega</strong></p>
				<p>{{vendapedido.venda.dataEntrega}}</p>
	
		</div>		

</div>


<div id="pedidos">
 	<div id="list" class="row" >
    <div class="table-responsive col-md-12">
     
        <table class="table col-md-12">
            <thead>
				<tr>
				<th class="col-md-4">#</th>
					<th class="col-md-1">ID Pedido</th>
					<th class="col-md-1">Valor Pedido</th>
					<th class="col-md-2">Data Pedido</th>
					<th class="col-md-2">Status</th>
				</tr>
			</thead>   
    	<tbody>
    
		<tr ng-repeat="vendapedido in vendapedidos">
		
		<td > {{vendapedido.pedido.idPedido}}</td>
		<td >R${{vendapedido.pedido.valorTotal | number: 2}}</td>
		<td >{{vendapedido.pedido.dataPedido| date: 'dd/MM/yyyy'}}</td>
		<td> {{vendapedido.pedido.statusPedido}}</td>	
				
	</tr>
	
	
	</tbody>
	
</table>

</div>
</div>
 	</div>







<div id="actions" class="row" style="margin-top:15px">
 <div class="col-md-12" style="margin-top:15px">
		<a class="btn btn-default " type="button" onClick="history.go(-1)">Voltar</a>
		
 </div>
</div>