<meta charset="utf-8">

<h3 class="page-header">Adicionar Pedido à Venda
	#{{vendapedido.venda.idVenda}}</h3>
<br>

<div class="row">
	<div class="form-group col-md-1">
		<label for="campo1">ID</label> <input type="text" class="form-control"
			ng-model="vendapedido.venda.idVenda" style="width: 50px"
			disabled>
	</div>
	<div class="form-group col-md-2">
		<label for="campo1">ID do Pedido</label> <input type="text"
			class="form-control" 
			ng-model="vendapedido.pedido.idPedido"
			ng-blur="listarPedido(vendapedido.pedido.idPedido)">
	</div>
	<div class="form-group col-md-9">
		<label for="campo1">Valor Total</label> <input type="text"
			class="form-control" 
			ng-model="vendapedido.pedido.valorTotalPedido" disabled>
	</div>
</div>
<div class="row">
	<div class="form-group col-md-2">
		<label for="campo1">Data de Entrega</label> <input type="date"
			ng-model="vendapedido.pedido.dataPedido"
			class="form-control" name="data" id="data" disabled/>
	</div>
	
	<div class="form-group col-md-9">
		<label for="campo1">Status Pedido</label> <input type="text"
			class="form-control" 
			ng-model="vendapedido.pedido.statusPedido" disabled>
	</div>

</div>

<form>
	<hr />
	<div id="actions" class="row" style="margin-bottom: 12px">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary"
				ng-click="salvarVendaPedido()" style="margin-left: 12px">Salvar</button>
			<button type="button" class="btn btn-default"
				onClick="history.go(-1)">Voltar</button>
		</div>
	</div>
</form>
</div>