<h3 class="page-header">Criar Venda</h3>
<br>
<hr>
<hr>
<div class="row">
	<div class="form-group col-md-2">
		<label for="campo1">ID Venda</label> <input type="text" class="form-control"
			placeholder="ID automático" ng-model="venda.idVenda" style="width: 120px"
			readonly>
	</div>
	<div class="form-group col-md-2">
		<label for="campo1">Data de Emissão</label> <input type="date"
			class="form-control" placeholder="Data de Emissão"
			ng-model="dataEmissao" readonly>
	</div>
	<div class="form-group col-md-2">
		<label for="campo1">Data de Pagamento</label> <input type="date"
			ng-model="venda.dataPagamento" 
			class="form-control" name="data" id="data" />
	</div>

</div>

<form>
	<hr />
	<div id="actions" class="row" style="margin-bottom: 12px">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary" ng-click="salvarVenda()" style="margin-left: 12px">Salvar</button>
			<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
		</div>
	</div>
</form>
</div>